<h5>Lista de Livros</h5>
<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Título</th>
    <th>Autor</th>
    <th>Gênero</th>
    <th>Preço</th>
    <th>Ações</th>
  </tr>
  <tr *ngFor="let book of books">
    <td>{{ book.id }}</td>
    <td>{{ book.title }}</td>
    <td>{{ book.author }}</td>
    <td>{{ book.genre }}</td>
    <td>{{ book.price }}</td>
    <td><button (click)="removeBook(book.id)">Remover</button></td>
  </tr>
</table>
<br />
<h5>Cadastro de Novos Livros</h5>
<form (ngSubmit)="addBook()">
  <input
    [(ngModel)]="newBook.title"
    name="title"
    placeholder="Título"
    required
  />
  <input [(ngModel)]="newBook.author" name="author" placeholder="Autor" />
  <input [(ngModel)]="newBook.genre" name="genre" placeholder="Gênero" />
  <input
    [(ngModel)]="newBook.price"
    name="price"
    placeholder="Preço"
    type="number"
  />
  <button type="submit">Cadastrar</button>
</form>
